.proj-card {
    padding: 0.5rem 0;
    width: 15rem;
    min-height: 15.5rem;
    margin: 5px 25px;
    background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(219, 219, 219, 0.6) 100%);
    box-shadow: 1px 3px 2.5px rgba(0, 0, 0, .25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

.proj-mock {
    min-width: 6.5rem;

}

.proj-card h1 {
    color: #008cff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    transition: .25s;
}

.proj-card h1:hover {
    color: #0061b1;
    
}

.link {
    color: #008cff;
    text-align: center;
    font-size: .85rem;
    font-weight: 400;
    transition: .5s;
    margin-bottom: 10px;
    margin-top: 0px;
}

.link:hover {
    color: #0061b1;
}

.description {
    text-align: center;
    line-height: 1rem;
    font-size: .7rem;
    margin: 5px 0;
}

@media (max-width: 26.25em) {
    .proj-card {
        margin-top: 1rem;
    }
}